<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Project1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4E29D3CA1D2A35EA006365D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E29D3E01D2A35EA006365D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E29D3EB1D2A35EA006365D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
